/*General styles*/
:root {
  --main-color: #212121;
  --second-color: #757575;
  --accent-color: #2196f3;
  --third-color: #ffffff;
  --contact-color: rgba(255, 255, 255, 0.6);
  --black-color: #000000;
  --accent-btn-color: #188ce8;
  --footer-color: #2f303a;
  --background-color: #f5f4fa;
}
body {
  font-family: "Roboto", "Raleway", "Tahoma", san-serif;
  background-color: var(--third-color);
  color: var(--main-color);
  font-size: 14px;
}
h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.color-header {
  color: var(--black-color);
}
.color-footer {
  color: var(--third-color);
}
.button {
  display: inline-block;
  border-color: transparent;

  cursor: pointer;
  font-family: inherit;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
/*Header styles*/

header {
  border-bottom: 1px solid #ececec;
}

header .container {
  display: flex;
  align-items: center;
}
.list-item {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
}

.list-contact {
  display: flex;
  margin-left: auto;
}
.header-list-item {
  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  font-family: inherit;
  color: inherit;
}
.list-item .item:not(:last-child) {
  margin-right: 50px;
}

.header-list-item:hover,
.header-list-item:focus {
  color: var(--accent-color);
}
header .logo {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}

.list-contact .item:not(:last-child) {
  margin-right: 50px;
}
.header-mail {
  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--second-color);
}
.header-mail:hover,
.header-mail:focus {
  color: var(--accent-color);
}
.header-tel {
  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--second-color);
}
.header-tel:hover,
.header-tel:focus {
  color: var(--accent-color);
}
.accent:visited {
  color: var(--accent-color);
}

/*Start styles*/
.start {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-color: var(--footer-color);
}
.start-title {
  max-width: 696px;
  margin: 0 auto 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--third-color);
}
.start-button {
  margin: 0 auto;
  padding: 10px 32px;

  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--third-color);
  background: var(--accent-color);
  border-radius: 4px;
}
.start-button:hover,
.start-button:focus {
  background-color: var(--accent-btn-color);
}

/*Feature styles*/
.features .container {
  display: flex;
}
.features {
  padding-top: 94px;
  padding-bottom: 94px;
}
.features .list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.list .text {
  flex-basis: calc((100% - 90px) / 4);
}
.icons-container {
  padding: 25px 100px;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
}
.feature-icons {
  width: 70px;
  height: 70px;
}

.feature-titles {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.fearture-after-title {
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--second-color);
}

/*About styles*/
.about {
  padding-bottom: 94px;
}
.about-title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
}
.about .list {
  display: flex;
  gap: 30px;
}

.about .list .about-img {
  flex-basis: calc((100%-60px) / 3);
}

/* Team styles*/
.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--background-color);
}
.team .list {
  display: flex;
  gap: 30px;
}
.team-text {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team-iteam {
  flex-basis: calc((100%-90px) / 4);
  background-color: var(--third-color);
}
.team-main-title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
}
.team-title {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
}
.after-title {
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-color);
}

/*Footer styles*/
footer {
  background-color: var(--footer-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
footer .logo {
  display: inline-block;
  margin-bottom: 20px;
}
footer .list .items:not(:last-child) {
  margin-bottom: 8px;
}
.footer-address {
  display: inline-block;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--third-color);
}
.footer-mail {
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--contact-color);
}
.footer-tel {
  display: inline-block;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--contact-color);
}
.address {
  font-style: normal;
}
.footer-color:hover,
.footer-color:focus {
  color: var(--accent-color);
}

/*PORTFOLIO*/
.portfolio-button {
  padding-top: 94px;
  padding-bottom: 94px;
}
.portfolio-link {
  color: inherit;
  font-family: inherit;
}

.portfolio-list {
  display: flex;
  justify-content: center;
  margin: 0 auto 50px;
}
.portfolio-list .item {
  margin-right: 8px;
}
.portfolio-main-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  box-sizing: content-box;
}
.main-items {
  background-color: #fff;
  border: 1px solid #eeeeee;
  flex-basis: calc(100% / 3 - 30px);
}
.portfolio-title {
  font-size: 18px;
  line-height: calc(18 / 14);
  letter-spacing: 0.06em;
}

.portfolio-after-title {
  font-size: 16px;
  line-height: calc(30 / 14);
  letter-spacing: 0.03em;
  color: var(--second-color);
}
.portfolio-text {
  padding: 20px 0 20px 24px;
}
.portfolio-btn {
  padding: 6px 22px;
  align-items: center;
  text-align: center;

  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  border-radius: 4px;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  color: var(--third-color);
  background: var(--accent-color);
}
